name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.5"
          cache: true
      - name: Clear Bun cache
        run: bun pm cache rm
      - name: Install
        run: bun install --no-cache
      - name: Build
        run: bun run build
      - name: Test
        run: bun run test
